
<!DOCTYPE html>


<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/js")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link rel="shortcut icon" type="image/png" href="~/Images/ads.png" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="~/tinymce/js/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>
    <link rel="shortcut icon" type="image/png" href="~/Images/ads.png" />
</head>
<body>

    <div class="container">
        @RenderBody()
    </div>
    
</body>
</html>
