<style type="text/css">
    td {
        height: 40px;
    }
</style>
<h4 style="color:red; text-align:center;">@ViewBag.ThongBao</h4>
<h2 style="text-align:center;">ĐĂNG XUẤT</h2>
<table align="center">
    @using (Html.BeginForm("DangXuat", "User"))
    {
        @Html.ValidationSummary(true)

        <tr>
            <td>Bạn chắc chắn muốn đăng xuất</td>
            <td>
                <input type="submit" value="Đăng xuất" />
            </td>
        </tr>
    }
</table>
